html[b-ag31xcqg41], body[b-ag31xcqg41] {
    font-family: "Inter", serif;
}

.app-container[b-ag31xcqg41] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.title[b-ag31xcqg41] {
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 15% 0;
}

.imc-data-container[b-ag31xcqg41] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imc-data-container input[b-ag31xcqg41] {
    width: 100%;
    font-size: 110%;
    padding: 2% 5%;
    border: 2px solid #E8E8E8;
    border-radius: 8px;
    background-color: #F6F6F6;
}

.ageCaptcha-container[b-ag31xcqg41] {
    display: flex;
    align-items: center;
    padding: 15px 0;
    gap: 5px;
}

.button-request-container[b-ag31xcqg41] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-request-container button[b-ag31xcqg41] {
    font-size: 115%;
    width: 100%;
    font-weight: 600;
    padding: 1%;
    border-radius: 25px;
}

.btnCalculate[b-ag31xcqg41] {
    height: 2.35rem;
    background-color: #45FEFE;
    border: 0 solid;
}

.btnUnderstand[b-ag31xcqg41] {
    background-color: #FFFFFF;
    border: 4px solid #45FEFE;
}