html[b-ugjpdjbwcw], body[b-ugjpdjbwcw] {
    font-family: "Inter", serif;
}

.app-container[b-ugjpdjbwcw] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.logo[b-ugjpdjbwcw] {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}

.title[b-ugjpdjbwcw] {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 7% 0;
}

.search-data-container[b-ugjpdjbwcw] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-data-container input[b-ugjpdjbwcw] {
    font-size: 100%;
    color: #000;
    width: 100%;
    padding: 2.5% 3%;
    border: 1.75px solid #E8E8E8;
    border-radius: 20px;
    background-color: #F6F6F6;
}

.calculsList[b-ugjpdjbwcw] {
    display: flex;
    flex-direction: column;
    font-size: 50%;
    align-items: center;
}

.firstItem[b-ugjpdjbwcw] {
    border: 1px #E8E8E8;
    border-style: none none solid none;
}

.secondItem[b-ugjpdjbwcw] {
    border: 1px #E8E8E8;
    border-style: none none solid none;
}

.tumbnail[b-ugjpdjbwcw] {
    background-color: #F6F6F6;
    width: 45px;
    height: 45px;
    border-radius: 7px;
    margin: 10px;
}

.tumbnail-container[b-ugjpdjbwcw] {
    display: flex;
    align-items: center;
}

.titleDate[b-ugjpdjbwcw] {
    display: flex;
    align-items: center;
    gap: 34%;
}

.titleDate h4[b-ugjpdjbwcw] {
    margin: 0;
}

.dateFirstItem[b-ugjpdjbwcw] {
    margin-left: auto;
    margin-right: 0;
    color: #522020;
}

.dateSecondItem[b-ugjpdjbwcw] {
    margin-left: auto;
    margin-right: 0;
    color: #BDBDBD;
}

.description[b-ugjpdjbwcw] {
    margin: 0 auto;
}