html[b-kzikzjtho9], body[b-kzikzjtho9] {
    font-family: "Inter", serif;
}

.app-container[b-kzikzjtho9] {
    min-height: 45%;
    min-width: 40%;
    padding: 30px;
    border-radius: 8px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo[b-kzikzjtho9] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 5px solid #45FEFE;
    border-radius: 30px;
}

.title[b-kzikzjtho9] {
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.description[b-kzikzjtho9] {
    color: #666666;
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align-last: center;
}

.recover-data-container[b-kzikzjtho9] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.recover-data-container input[b-kzikzjtho9] {
    font-size: 110%;
    padding: 4%;
    border: 2px solid #E8E8E8;
    border-radius: 8px;
    background-color: #F6F6F6;
}

.robotCaptcha-container[b-kzikzjtho9]{
    margin: 10px 0;
}

.button-request-container[b-kzikzjtho9] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.button-request-container button[b-kzikzjtho9] {
    font-size: 115%;
    font-weight: 600;
    padding: 4%;
    border-radius: 25px;
}

.btnCalculate[b-kzikzjtho9] {
    background-color: #45FEFE;
    border: 0 solid;
}

.btnHistory[b-kzikzjtho9] {
    background-color: #FFFFFF;
    border: 4px solid #45FEFE;
}